<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SIGN-IN</h1>
    <form action="/auth/sign-in" method="post">
        <input name="email" type="text">
        <input name="password" type="text">
        <input type="submit">
    </form>

    <br>
    <h1>SIGN-UP</h1>
    <form action="/auth/sign-up" method="post">
        <input name="username" type="text" placeholder="username">
        <input name="email" type="text" placeholder="email">
        <input name="password" type="text" placeholder="password">
        <input type="submit">
    </form>

    <br>

    <br>

    <a href="/oauth2/auth">LOGIN VIA GOOGLE</a>



</body>
</html>